//colores
$lightgray:#f3f3f3;
$lavanderblush:#fff0f5;
$skyblue:#87cefa;
$palevioletred:#db7093;
$snow:#fffafa;
$black:#000000;
$white:#ffffff;



//Fuentes
$nunito: Nunito, sans-serif;
//Peso de fuentes
$regular:400;
$bold:700;

