body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Nunito, sans-serif;
}

.contenedor {
  margin: 0 auto;
}
.contenedor__centrado {
  text-align: center;
}

.centrado {
  margin: 0 auto;
  width: auto;
}

.img {
  width: 100%;
}

.main {
  background-color: #f3f3f3;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffafa;
}
.footer__derechos {
  padding: 10px 0;
  font-family: Nunito, sans-serif;
  font-weight: 400;
}

.grilla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-gap: 10px;
  margin: 10px;
}
@media (min-width: 576px) {
  .grilla {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
}

.menu-vertical {
  display: none;
  background-color: #f3f3f3;
  padding: 20px;
}
@media (min-width: 576px) {
  .menu-vertical {
    display: block;
    grid-column: 4/4;
    grid-row: 1/3;
  }
}
.menu-vertical__titulo {
  text-transform: uppercase;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.menu-vertical__parrafo {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.menu-vertical__contenedor-imagen__titulo-imagen {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.menu-vertical__tag-container {
  text-align: center;
}
.menu-vertical__tags {
  border-radius: 5px;
  display: inline-block;
  background-color: #87cefa;
  list-style: none;
  font-size: 14px;
  padding: 10px 5px;
}

.boletin {
  background-color: #f3f3f3;
  padding: 30px;
}
.boletin__titulo {
  font-size: 20px;
  text-align: center;
  font-family: Nunito, sans-serif;
  font-weight: 700;
}
.boletin__parrafo {
  text-align: center;
}
.boletin__button {
  display: inline-block;
  background-color: #db7093;
  font-family: Nunito, sans-serif;
  color: #ffffff;
  border-width: 0;
  padding: 5px 10px;
  font-size: 13px;
  margin: 0 auto;
}
.boletin__input {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
  margin: 0 auto;
}

.contenido {
  background-color: #f3f3f3;
  width: 84%;
  display: inline-block;
}
.contenido__titulo {
  font-family: Nunito, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: #000000 2px solid;
  background-color: #fffafa;
  padding: 10px 30px;
}
.navegacion__titulo {
  text-transform: uppercase;
  margin-right: 20px;
  font-family: Nunito, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}
.navegacion__nav {
  list-style: none;
  margin-right: 12px;
  display: inline-block;
}
.navegacion__nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-family: Nunito, sans-serif;
  font-weight: 400;
}
.navegacion__buscar {
  border-radius: 20px;
  border-style: solid;
  width: 120px;
  font-family: Nunito, sans-serif;
  font-weight: 400;
  display: inline-block;
}

/*# sourceMappingURL=main.css.map */
