.menu-vertical {
    display: none;
    @media (min-width: 576px) {
        display: none;
    }
    @media (min-width:768px) {
        display: block;
        grid-column: 3 / 3;
        grid-row: 1 / 3;
    }
    @media (min-width:992px) {
        display: block;
        grid-column: 4 / 4;
        grid-row: 1 / 3;
    }
    @media (min-width:1200px) {
        display: block;
        grid-column: 4 / 4;
        grid-row: 1 / 3;
    }

    background-color: $lightgray;
    padding: 20px;
    &__titulo{
        text-transform: uppercase;
        font-family: $nunito;
        font-weight: $bold;
        font-size: 20px;
    }
    &__parrafo{
        font-family: $nunito;
        font-weight: $regular;
        font-size: 12px;
    }
    &__contenedor-imagen {
        &__titulo-imagen{
            font-family: $nunito;
            font-size: 16px;
            font-weight: $regular;
        }
    }
    &__tag-container {
        text-align: center;
    }
    &__tags {
        border-radius: 5px;
        display: inline-block;
        background-color: $skyblue;
        list-style: none;
        font-size: 14px;
        padding: 10px 5px;
    }
}